@import "../css_variables";

.small {
  padding: $padding-small-button;
  border-radius: $unit-1;
  font-size: $unit-1;
}

.default {
  padding: $padding-default-button;
  border-radius: $unit-2;
  font-size: $unit-1;
}
