@import "../css_variables";

.default {
  padding: $padding-default-button;
  border-radius: $unit-2;
  font-size: $unit-1;
}

.large {
  padding: $padding-large-button;
  border-radius: $unit-2;
  font-size: $unit-1;
}

.small {
  padding: $padding-small-button;
  border-radius: $unit-1;
  font-size: 14px;
}

.primary {
  color: $color-white;
  background-color: $blue;
  border: $no-border;
  box-shadow: $box-shadow-default;

  &:hover {
    transition: ease-in-out 100ms;
    background-color: $blue-hover;
    cursor: pointer;
  }
}

.destructiveInverse {
  color: $red;
  background-color: $color-white;
  border: $border-300;
  box-shadow: $box-shadow-default;

  &:hover {
    transition: ease-in-out 100ms;
    background-color: $red;
    color: $color-white;
    border: 2px solid $red;
    cursor: pointer;
  }
}
