@import "../../css_variables";

.TodoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: $unit-1;
  background-color: $yellow;
}

.CreateTodoButton {
  color: $color-white;
  background-color: $blue;
  border: $no-border;
}

.CreateTodoButton:hover {
  transition: ease-in-out 100ms;
  background-color: $blue-hover;
  cursor: pointer;
}
