@import "../../css_variables";

.TodoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: $unit-1;
  background-color: $yellow;
}

.CreateTodoButton {
  color: $white;
  background-color: $blue;

  border: $no-border;
}

.CreateTodoButton:hover {
  background-color: $blue-hover;
}
